.site-footer {
  background: rgba(118, 58, 245, 0.1);
}
.image img {
  height: 188px;
  width: 454px;
}
.list-unstyle {
  list-style: none;
}
.list-unstyle a {
  text-decoration: none;
  font-size: 28px;
  color: rgba(87, 106, 210, 1);
}
.text-size {
  font-size: 20px;
}
