<footer class="site-footer py-5">
    <div class="container-xxl">
        <div class="row text-center justify-content-between mt-5">
            <div class="col-3 image">
                <img src="../../../assets/images/logo.svg" alt="">
            </div>
            <div class="col-2">
                <ul class="list-unstyle mt-4">
                    <li *ngFor="let item of navList">
                        <a class="d-flex align-items-center py-1" title={{item.text}} [href]="item.url" target="{{item.target? item.target :'_self'}}">
                            <span class="ms-1">{{item.text}}</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyle mt-4">
                    <li *ngFor="let item of contactList">
                        <a class="d-flex align-items-center py-3" title="{{item.text}}" href="{{item.url}}">
                         <img src="{{item.img}}" alt="">   <span class="ms-4 text-size">{{item.text}}</span>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</footer>